# JupyterからPostgresへ接続するためのサンプル

In [30]:
%load_ext sql
import os
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [31]:
pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)

# pd.read_sql用のコネクタ
conn = psycopg2.connect(**pgconfig)
# pd.to_sql用のcreate engine
engine = create_engine(dsl)
# MagicコマンドでSQLを書くための設定
%sql $dsl

'Connected: padawan@dsdojo_db'

In [32]:
df_prod = pd.read_sql(sql='select * from product', con=conn)

In [33]:
df_prod.head()

,product_cd,product_name,category_major_cd,category_major_name,category_medium_cd,category_medium_name,category_small_cd,category_small_name,jan_cd,unit_price,unit_cost
0,P040101001,焼うどん,04,惣菜,0401,御飯類,040101,弁当類,4958582008999,198,149
1,P040101002,アジツケソバ,04,惣菜,0401,御飯類,040101,弁当類,4515290000310,218,164
2,P040101003,ゴモクオニギリ３コイリ,04,惣菜,0401,御飯類,040101,弁当類,4958582010725,230,173
3,P040101004,豆ごはん,04,惣菜,0401,御飯類,040101,弁当類,4958582009507,248,186
4,P040101005,ワカメオニギリ３コイリ,04,惣菜,0401,御飯類,040101,弁当類,4958582011715,268,201

In [34]:
# データフレームをDBに書き出す場合
#df.to_sql('test', con=engine, if_exists='append', index=False)
#df.to_sql('test', con=engine, if_exists='replace', index=False)

In [37]:
%%sql
select * from product limit 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('P040101001', '焼うどん', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', '4958582008999', 198, 149),
 ('P040101002', 'アジツケソバ', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', '4515290000310', 218, 164),
 ('P040101003', 'ゴモクオニギリ３コイリ', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', '4958582010725', 230, 173),
 ('P040101004', '豆ごはん', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', '4958582009507', 248, 186),
 ('P040101005', 'ワカメオニギリ３コイリ', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', '4958582011715', 268, 201),
 ('P040101006', 'ゴモクオニギリ', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', '4958582000726', 298, 224),
 ('P040101007', 'えんど屋  赤飯', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', '4514369260686', 338, 254),
 ('P040101008', 'カラアゲベントウ', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', '4958582004205', 420, 315),
 ('P040101009', 'カツ丼', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', '4515118001062', 498, 374),
 ('P040101010', '日替り弁当', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', '4515118001079', 580, 435)]